{
  # SSH 公钥 - 请勿提交到版本控制
  user-public-ssh-keys = [
    "ssh-ed25519 AAAAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX user1@host1"
    "ssh-ed25519 AAAAYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY user2@host2"
  ];

  # 其他敏感数据
  username = "sgnay";
  email = "sgnay@outlook.com";

  xray-outbounds = [
    {
      protocol = "vless";
      tag = "proxy-vision";
      settings.vnext = [
        {
          address = "111.222.333.444";
          port = 443;
          users = [
            {
              encryption = "none";
              flow = "xtls-rprx-vision";
              id = "aaaaaaaa-1111-2222-3333-bbbbbbbbbbbb";
              level = 0;
            }
          ];
        }
      ];
      streamSettings = {
        network = "raw";
        security = "reality";
        realitySettings = {
          fingerprint = "chrome";
          publicKey = "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ";
          serverName = "www.example.xyz";
          shortId = "1111111111111111";
          spiderX = "/";
        };
      };
    }
    {
      protocol = "vless";
      tag = "proxy-xhttp";
      settings.vnext = [
        {
          address = "111.222.333.444";
          port = 443;
          users = [
            {
              encryption = "none";
              id = "aaaaaaaa-1111-2222-3333-bbbbbbbbbbbb";
              level = 8;
            }
          ];
        }
      ];
      streamSettings = {
        network = "xhttp";
        security = "reality";
        realitySettings = {
          fingerprint = "chrome";
          publicKey = "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ";
          serverName = "www.example.xyz";
          shortId = "1111111111111111";
          spiderX = "/";
          allowInsecure = false;
          show = false;
        };
        xhttpSettings = {
          host = "";
          path = "/ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp";
          mode = "auto";
        };
      };
    }
  ];
}
