{
  # SSH 公钥列表
  # 将你的 SSH 公钥添加到此列表
  public-ssh-keys = [
    # "ssh-ed25519 AAAA... your-email@example.com"
    # "ssh-rsa AAAA... your-email@example.com"
  ];

  # 其他敏感数据示例
  # email = "your-email@example.com";
  # username = "your-username";
}
